.blog-content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.5em;
  margin-bottom: 2em;
  margin-top: 1em;
}

.blog-article {
  width: 32%;
  border: 1px solid;
  padding: 0.5em;
}

.blog-article img {
  width: 100%;
  height: 200px;
}

.blog-content p {
  text-indent: 20px;
}

.blog-content a {
  color: purple;
}