.password-content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.5em;
  margin-bottom: 2em;
  margin-top: 1em;
}

.password-content h2 {
  text-align: center;
  margin-bottom: 1em;
}

.password-content h4 {
  text-align: center;
  margin-bottom: 1em;
}

.password-content li {
  text-indent: 1em;
  margin-bottom: 0.75em;
}

.password-content ol {
  margin-bottom: 25px;
  padding-left: 1em;
}

.container-password {
  margin: 0 auto;
  width: 1200px;
}

.container-password p {
  margin-bottom: 1em;
  text-indent: 40px;
}