.contact-info {
  width: 50%;
}

.contact-text {
  text-align: center;
}

.contact-info p {
  text-align: center;
}

.box1 {
  width: 199px;
}

.box2 {
  width: 200px;
}

.box3 {
  width: 237px;
}

.box4 {
  width: 230px;
}

.contact-about {
  width: 100%;
  text-align: center;
}

.contact-about img {
  width: 950px;
  height: 500px;
}

.contact-info button {
  background-color: skyblue;
  padding: 1em;
  border-radius: 15%;
}