.home-content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.5em;
  margin-bottom: 2em;
  margin-top: 1em;
}

.container-home {
  margin: 0 auto;
  width: 80%;
}

.container-home p {
  margin-bottom: 2em;
  text-indent: 40px;
}

.container-home h2 {
  margin-bottom: 1em;
}

.container-home img {
  width: 100%;
  height: 300px;
}