.menu1 {
  position: absolute;
  background-color: green;
  top: 137px;
  margin: auto;
  text-align: center;
  padding: 15px;
  width: 125px;
  font-size: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu1 p {
  margin: 0;
  padding: 0;
  color: black;
}

.menu2 {
  position: absolute;
  background-color: lightblue;
  top: 200px;
  margin: auto;
  text-align: center;
  padding: 15px;
  width: 125px;
}

.menu3 {
  position: absolute;
  background-color: lightpink;
  top: 250px;
  margin: auto;
  text-align: center;
  padding: 15px;
  width: 125px;
}

.menu4 {
  position: absolute;
  background-color: lightcoral;
  top: 300px;
  margin: auto;
  text-align: center;
  padding: 15px;
  width: 125px;
}

.menu5 {
  position: absolute;
  background-color: lightyellow;
  top: 350px;
  margin: auto;
  text-align: center;
  padding: 15px;
  width: 125px;
}

.menu6 {
  position: absolute;
  background-color: magenta;
  color: black;
  top: 400px;
  margin: auto;
  text-align: center;
  padding: 15px;
  width: 125px;
}

.showitem {
  display: none;
}

a {
  text-decoration: none;
  color: black; 
}