.project-image {
  text-align: center;
}

.code-content {
  border: solid;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}


.container-project p,
.container-project h2 {
  margin-left: 1em;
}

.code-content img {
  height: 400px;
}