.void-content {
  width: 86%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1.5em;
  margin-bottom: 2em;
  margin-top: 1em;
}

.void-content img {
  width: 1000px;
  height: 700px;
}