* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
}

header {
  background-color: lightblue;
  width: 100%;
  font-size: 1.2em;
  padding: 1em;
}

.title {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-size: 1.3em;
}

.title img {
  height: 1.4em;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline;
  margin-right: 0.8em;
}

nav a {
  color: black;
  text-decoration: none;
}

.content {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.content h2 {
  margin-bottom: 1em;
  padding-top: 1em;
}

.content img {
  height: 12em;
  float: right;
  border-radius: 65%;
}

p {
  margin-bottom: 2em;
  text-indent: 40px;
}

footer {
  background-color: purple;
  padding: 1.5em;
}

footer img {
  height: 2em;
}

